NodeRed-Flow/Smart Agriculture System Using IoT.json
[{"id":"cd6360fe.47e15","type":"tab","label":"IoT Project","disabled":false,"info":""},{"id":"c88ad86b.464698","type":"mqtt in","z":"cd6360fe.47e15","name":"","topic":"Notifications","qos":"0","datatype":"auto","broker":"34514f5.735f2b","x":330,"y":280,"wires":[["d859ff8f.c351a","5f52c2f6.2f395c","3302055b.307c6a"]]},{"id":"d71efdc9.724c6","type":"mqtt out","z":"cd6360fe.47e15","name":"","topic":"waterpump","qos":"0","retain":"","broker":"34514f5.735f2b","x":570,"y":200,"wires":[]},{"id":"d859ff8f.c351a","type":"debug","z":"cd6360fe.47e15","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":260,"wires":[]},{"id":"47386e91.b79e1","type":"ui_switch","z":"cd6360fe.47e15","name":"","label":"Water Pump Relay","tooltip":"","group":"63d4791.306bc88","order":5,"width":7,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"a","onvalueType":"str","onicon":"","oncolor":"green","offvalue":"b","offvalueType":"str","officon":"","offcolor":"red","x":350,"y":200,"wires":[["d71efdc9.724c6"]]},{"id":"a910026d.3aa9a","type":"inject","z":"cd6360fe.47e15","name":"HTTP Inject","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":true,"onceDelay":"0.1","x":170,"y":440,"wires":[["abd21c8c.483c7"]]},{"id":"abd21c8c.483c7","type":"http request","z":"cd6360fe.47e15","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"http://api.openweathermap.org/data/2.5/weather?q=Mumbai&units=metric&appid=577a1cbdcb2a11d51cc74f5f5962791a","tls":"","persist":false,"proxy":"","authType":"","x":330,"y":440,"wires":[["4c146c9e.60d1f4","3dc78e26.183202","96330ac1.6c49c8","f89dc68b.fee9c8"]]},{"id":"4c146c9e.60d1f4","type":"function","z":"cd6360fe.47e15","name":"TemperatureAPI","func":"msg.payload=msg.payload.main.temp\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":380,"wires":[["9cb1f54a.165128"]]},{"id":"3dc78e26.183202","type":"function","z":"cd6360fe.47e15","name":"Humidity","func":"msg.payload=msg.payload.main.humidity\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":420,"wires":[["b9fcd431.5c02a8"]]},{"id":"9cb1f54a.165128","type":"ui_text","z":"cd6360fe.47e15","group":"63d4791.306bc88","order":7,"width":7,"height":1,"name":"","label":"OpenWeather Data Real-time Temperature (°C) ","format":"{{msg.payload}}","layout":"row-left","x":860,"y":380,"wires":[]},{"id":"b9fcd431.5c02a8","type":"ui_text","z":"cd6360fe.47e15","group":"63d4791.306bc88","order":8,"width":7,"height":1,"name":"","label":"OpenWeather Data Real-time Humidity (%)","format":"{{msg.payload}}","layout":"row-left","x":850,"y":420,"wires":[]},{"id":"5f52c2f6.2f395c","type":"ui_toast","z":"cd6360fe.47e15","position":"top right","displayTime":"3","highlight":"border highlight colour","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":580,"y":300,"wires":[]},{"id":"8d141588.e08e68","type":"ui_gauge","z":"cd6360fe.47e15","name":"","group":"63d4791.306bc88","order":9,"width":7,"height":5,"gtype":"gage","title":"Temperature","label":"°C","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":570,"y":80,"wires":[]},{"id":"907dc03d.93045","type":"mqtt in","z":"cd6360fe.47e15","name":"","topic":"temperature","qos":"0","datatype":"auto","broker":"700f30e0.84237","x":330,"y":80,"wires":[["8d141588.e08e68"]]},{"id":"220666e0.a9026a","type":"mqtt in","z":"cd6360fe.47e15","name":"","topic":"humidity","qos":"0","datatype":"auto","broker":"700f30e0.84237","x":320,"y":20,"wires":[["b18dac67.42d3b"]]},{"id":"b18dac67.42d3b","type":"ui_gauge","z":"cd6360fe.47e15","name":"","group":"63d4791.306bc88","order":10,"width":7,"height":5,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":560,"y":20,"wires":[]},{"id":"3302055b.307c6a","type":"e-mail","z":"cd6360fe.47e15","d":true,"server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"akshetp.ap@gmail.com","dname":"","x":790,"y":280,"wires":[]},{"id":"ddb751bb.5eab8","type":"mqtt in","z":"cd6360fe.47e15","name":"","topic":"moisture","qos":"0","datatype":"auto","broker":"700f30e0.84237","x":320,"y":140,"wires":[["3971c44e.c51bcc","50e224e7.4c780c"]]},{"id":"3971c44e.c51bcc","type":"ui_gauge","z":"cd6360fe.47e15","name":"","group":"63d4791.306bc88","order":11,"width":7,"height":5,"gtype":"gage","title":"Mositure","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":560,"y":140,"wires":[]},{"id":"96330ac1.6c49c8","type":"function","z":"cd6360fe.47e15","name":"Place Name","func":"msg.payload=msg.payload.name\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":460,"wires":[["7b5792e9.76cb9c"]]},{"id":"7b5792e9.76cb9c","type":"ui_text","z":"cd6360fe.47e15","group":"63d4791.306bc88","order":1,"width":3,"height":1,"name":"","label":"Place:","format":"{{msg.payload}}","layout":"row-left","x":730,"y":460,"wires":[]},{"id":"f89dc68b.fee9c8","type":"function","z":"cd6360fe.47e15","name":"Weather","func":"msg.payload=msg.payload.weather[0].main\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":500,"wires":[["bc8b2522.0a5458"]]},{"id":"bc8b2522.0a5458","type":"ui_text","z":"cd6360fe.47e15","group":"63d4791.306bc88","order":3,"width":3,"height":1,"name":"","label":"Weather is:","format":"{{msg.payload}}","layout":"row-right","x":750,"y":500,"wires":[]},{"id":"5ba83723.ae2f68","type":"ui_text","z":"cd6360fe.47e15","group":"63d4791.306bc88","order":4,"width":7,"height":1,"name":"","label":"     Note: Wait for the pop-up \"System is Live!\"","format":"{{msg.payload}}","layout":"row-spread","x":850,"y":540,"wires":[]},{"id":"4c580bf7.4d80c4","type":"mqtt in","z":"cd6360fe.47e15","name":"","topic":"status","qos":"0","datatype":"auto","broker":"34514f5.735f2b","x":310,"y":340,"wires":[["5d98844.06f8a7c"]]},{"id":"5d98844.06f8a7c","type":"ui_text","z":"cd6360fe.47e15","group":"63d4791.306bc88","order":6,"width":7,"height":1,"name":"","label":"Status:","format":"{{msg.payload}}","layout":"row-spread","x":560,"y":340,"wires":[]},{"id":"50e224e7.4c780c","type":"ui_chart","z":"cd6360fe.47e15","name":"","group":"63d4791.306bc88","order":11,"width":"7","height":"7","label":"Soil Moisture","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":750,"y":140,"wires":[[]]},{"id":"34514f5.735f2b","type":"mqtt-broker","z":"","name":"","broker":"mqtt.fluux.io","port":"1883","clientid":"Nodemcu","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"63d4791.306bc88","type":"ui_group","z":"","name":"DashBoard","tab":"fb3089fc.967fb8","order":1,"disp":true,"width":7,"collapse":false},{"id":"700f30e0.84237","type":"mqtt-broker","z":"","name":"","broker":"mqtt.fluux.io","port":"1883","clientid":"Nodemcu","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"fb3089fc.967fb8","type":"ui_tab","z":"","name":"Smart Agriculture System Using IoT","icon":"dashboard","disabled":false,"hidden":false}]